.home-container {
    width: 100%;
    height: auto;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    p {
        width: 300px;
        height: auto;
        padding-bottom: 10px;
        text-align: center;
        border-bottom: 1px solid rgba($color: #FFF, $alpha: .6);
    }
}

.play-container {
    width: calc(80px * 7);
    height: 70px;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.board-container {
    width: calc(80px * 7);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}